@{
    Layout = "~/Views/_LayoutMain.cshtml";
    ViewBag.Title = "Index";
}

<div id="content">
                <section id="torso">
                    <h1><strong>404 - </strong>The end of the Internets.</h1>
                    <p>
                        Go back to <a href="~/Admin/Index">Inicio</a>
                    </p>
             </section>
</div>