@model OnTime.Models.Departamento

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<h2>Crear Departamento</h2>

@using (Html.BeginForm("Create", "Departamento", FormMethod.Post, new { @class = "form" }))
{
    <div id="phase1">
        <div class="col-md-12">
            <ul>
                <li>
                    <label for="txtNombre" class="">Nombre: </label>
                    @Html.TextBoxFor(m => m.txtNombre, new { @placeholder = "Nombre" })
                </li>
                <li>
                    <label for="fkJefe">Jefe:</label>
                    <div class="selectParent">
                        @Html.DropDownListFor(m => m.fkJefe, ViewBag.EmpleadoPk as SelectList, "Seleccione un Jefe")
                    </div>
                </li>
            </ul>
            <div>
                <input type="submit" class="btn-custom btn-dark pull-right" value="Registrar" />
                <input type="reset" class="btn-custom btn-red pull-right"  value="Cancelar"/>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
